.product-wrapper {
    ul {
        margin-left: -50px;
        margin-top: 150px;
        display: flex;
        li{
            margin-left: 50px;
            width: 350px;
            background: #F1F1F1;
            border-radius: 8px;
            height: 200px;
            img {
                width: 120px;
                margin-top: -70px;
                margin-left: 100px;
                position: absolute;
                
            }
            span {
                position: absolute;
                margin-top: 60px;
                margin-left: 100px;
                background: #000000;
                filter: blur(20.4925px);
            }
            h4 {
                
                font-family: "Manrope";
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                letter-spacing: 1.28571px;
                text-transform: uppercase;
                margin-top: 110px;
                margin-bottom: 10px;
                color: #000000;
            }
            a::after {
                content: url(/img/korsatkicha.svg);
                margin-left: 10px;
               
            }
            a {
                font-family: Manrope;
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #000000;
                mix-blend-mode: normal;
                opacity: 0.5;
                margin-left: 140px;
                transition: color 0.5s ease;
            }
            a:hover {
                color: #D87D4A;
            }
        }
    }
}